.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.carousel::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.carousel-item {
  text-align: center;
}

.carousel-button {
  position: relative;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}

.carousel-button.left {
  left: -20px;
}

.carousel-button.right {
  right: -20px;
}

.carousel-button:hover {
  background-color: #0056b3;
}