#ChatWindow {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 500px;
    align-items: center;
}

#MessageArea {
    display: flex;
    flex-direction: column;
    align-items:end;
    gap: 12px;
    width: 400px;
    height: 500px;
    border: 4px solid black;
    border-radius: 20px;
    padding: 10px;
    overflow-y: scroll;
}
#MessageArea::-webkit-scrollbar {
    width: 6px;
}

#MessageArea::-webkit-scrollbar-track {
    background: transparent; 
}

#MessageArea::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

#MessageArea::-webkit-scrollbar-button {
    display: none;
}

.Message {
display: flex;
align-items: end;
flex-direction: column;
border: 2px solid black;
border-radius: 10px;
max-width: 100%;
}

#MessageSender {
    font-weight: 800;
}

#MessageContent {
    padding: 5px;
    text-align: left;
    width: 300px;
    overflow-wrap: break-word;
}

.ChatMessage {
    background-color: dodgerblue;
}

.YourMessage {
    background-color: greenyellow;
}
